<!-- Base template: parts of layout common to all templates -->

<html>
    <head>
        <!-- conditional statement -->
        {% if title %}
        <title>{{ title }} - World</title> <!-- {{ variable }} -->
        {% else %}
        <title>Welcome to My World!</title>
        {% endif %}
    </head>
    <body>
        <!-- navigation bar -->
        <div>
            DDAPP: 
            <!-- `url_for()`: Flask function to generate URLs from view function names -->
            <a href="{{ url_for('index') }}">Home</a> <!-- link -->
            <a href="{{ url_for('login') }}">Login</a>
        </div>
        <!-- show flashed message -->
        <hr>
        <!-- 
            Flask function to get a list of all flashed messages
            in the context of template (< with construct)
            -> messages removed after getting them
        -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <!-- 
            block control statement
            block name: "content"
            to specify where to place templates inheriting this base template
        -->
        {% block content %}{% endblock %}
    </body>
</html>