<!-- Base template: parts of layout common to all templates -->
<!-- inherit basic structure of page from bootstrap/base.html -->
{% extends 'bootstrap/base.html' %}

<!-- page title block -->
{% block title %}
    {% if title %}{{ title }}{% else %}NLP Text Summarizer!{% endif %}
{% endblock %}

<!-- navigation bar block -->
{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('text') }}">Home</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <!-- `url_for()`: Flask function to generate URLs from view function names -->
                    <li><a href="{{ url_for('text') }}">Text</a></li>
                    <li><a href="{{ url_for('upload_file') }}">Upload</a></li>
                    <li><a href="{{ url_for('book') }}">Book</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if filename %}
                    <li><a href="{{ url_for('uploaded_file', filename=filename) }}">{{ filename }}</a></li>
                    {% endif %}
                    {% if book_id %}
                    <li><a href="{{ url_for('summarize_book', book_id=book_id) }}">Summary {{ book_id }}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

<!-- content block -->
{% block content %}
    <div class="container">
        <!-- 
            Flask function to get a list of all flashed messages
            in the context of template (< with construct)
            -> messages removed after getting them
        -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <!-- show flashed message as Bootstrap alerts-->
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        <!-- 
            block control statement
            block name: "content"
            to specify where to place templates inheriting this base template
        -->
        {# place app content in app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}
