<!--
    Login form template
-->

<!-- extends to inherit from base template -->
{% extends "base.html" %}

<!-- to render form with Bootstrap styles -->
{% import 'bootstrap/wtf.html' as wtf %}

<!-- css -->
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<!-- block control statement "content" to combine with base template -->
{% block app_content %}
    <h1>Summarize a book</h1>

    <!-- wtf.quick_form() macro to render form with Bootstrap styles -->
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>

    <div class="page" >
        <!-- conditional statement -->
        {% if tables %}
        <h2>Search Results</h2>
        <div>
            <!-- loop through table list -->
            {% for table in tables %}
            <!-- table title -->
            {{titles[loop.index0]}} <!-- jinja2 loop index startings at 0)-->
            {{ table|safe }} <!-- safe: show parameter as html object -->
            {% endfor %}
        </div>
        {% endif %}
    </div>
{% endblock %}