<!--
    Template to keep the python scripts separate from layout of web page.
-->

<!-- extends to inherit from base template -->
{% extends "base.html" %}

<!-- to render form with Bootstrap styles -->
{% import 'bootstrap/wtf.html' as wtf %}

<!-- block control statement "content" to combine with base template -->
{% block app_content %}
    <h1>{{ title }}</h1>
    
    <!-- wtf.quick_form() macro to render form with Bootstrap styles -->
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>

    <!-- conditional statement -->
    {% if summary %}
    <div class="card border-info mb-3">
        <h5 class="card-header">Summary</h5>
        <div class="card-body">
            <h5 class="card-title">With pipeline transformers</h5>
            <p class="card-text">{{ summary }}</p>
        </div>
    </div>
    {% endif %}
{% endblock %}
