<!--
    Template to keep the python scripts separate from layout of web page.
-->

<!-- extends to inherit from base template -->
{% extends "base.html" %}

<!-- to render form with Bootstrap styles -->
{% import 'bootstrap/wtf.html' as wtf %}

<!-- block control statement "content" to combine with base template -->
{% block app_content %}
    <h1>{{ title }}</h1>

    <!-- wtf.quick_form() macro to render form with Bootstrap styles -->
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>

    <div>
        <!-- conditional statement -->
        {% if filename %}
        <p>See uploaded file</p>
        <!-- `url_for()`: Flask function to generate URLs from view function names -->
        <a href="{{ url_for('uploaded_file', filename=filename) }}">{{ filename }}</a> <!-- link -->
        {% endif %}
    </div>

    <div>
        <!-- conditional statement -->
        {% if summary %}
        <h2>Summary</h2>
        <p>{{ summary }}</p>
        {% endif %}
    </div>
{% endblock %}